@model RolesViewModel

<div class="row col-md-10 offset-md-1">
	<h1 class="text-primary text-center pt-2">Manage User Roles</h1>
	<form method="post">
		<input type="hidden" asp-for="User.Id"/>

		<div class="border p-2 rounded">
			<div class="form-group">
				<label asp-for="User.Name" class="col-12"></label>
				<div class="col-md-12">
					<input asp-for="User.Name" class="form-control" />
					<span asp-validation-for="User.Name" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="User.Email" class="col-12"></label>
				<div class="col-md-12">
					<input asp-for="User.Email" class="form-control" disabled />
					<span asp-validation-for="User.Email" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group mt-3 p-2 border rounded">
				<span>Roles Assignmnet</span>
				@for(var i = 0; i < Model.RolesList.Count(); i++)
				{
					<div class="form-check m-2">
						<input asp-for="@Model.RolesList[i].RoleName" type="hidden" />
						<input asp-for="@Model.RolesList[i].IsSelected" class="form-check-input" />
						<label class="form-check lable" asp-for="@Model.RolesList[i].IsSelected">@Model.RolesList[i].RoleName</label>
					</div>
				}
			</div>

			<div class="form-group pt-3">
				<div class="col-md-6 offset-md-3">
					<button class="btn btn-success form-control" type="submit">Update</button>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}